.m_t{
    border-bottom: 5px solid #B9A989;
}

.boardBox{
    border: 1px solid #B9A989;
    margin-top: 50px;
    padding: 20px;

}

#boardTop{
    background-color: #f8f5ea;
    border-top: 1px solid #E2E2E8;
}

#tableStyle{
    border: 1px solid #c5bba598;
}

.clou{
    background-color: #f8f5ea !important;
    text-align: center;
    width: 10vw;
}

.ro1{
    text-align: center;
    width: 15vw;
}
#bTitle{
    text-align: left;
}
#bContent{
    vertical-align: top;
    height: 15vw;
}

#btnP{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#btnP button{
    font-size: 16px;
    font-weight: 800;
}

#aStyle{
    border: 1px solid #c5bba598;
}
.aClou{
    background-color: #f0e5bc !important;
    text-align: center;
    width: 180PX;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.aClou h3{
    margin-bottom: 5px;
}
.aClou h4{
    margin-top: 0;
    margin-bottom: 5px; 
}

.aRo{
	padding-left:5px;
    width: 550PX;
    vertical-align: top;
    text-align: left;
}

#pageNavi{
	display:flex;
	font-size : 20px;
	width:420px;
	margin: 0 auto;
	justify-content: center;
}


