<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div class="main">
    <div class="main-left-box">
        <h2>제목</h2>
        <ul>
            <li>
                <span>소제목</span>
                <ul class="subnavi">
                    <li><a href="#">메뉴1<span>&gt;</span></a></li>
                    <li><a href="#">메뉴2<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                </ul>
            </li>
            <li>
                <span>소제목</span>
                <ul class="subnavi">
                    <li><a href="#">메뉴1<span>&gt;</span></a></li>
                    <li><a href="#">메뉴2<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                </ul>
            </li>
            <li>
                <span>소제목</span>
                <ul class="subnavi">
                    <li><a href="#">메뉴1<span>&gt;</span></a></li>
                    <li><a href="#">메뉴2<span>&gt;</span></a></li>
                    <li><a href="#">메뉴3<span>&gt;</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>